.header-container {
  width: 100%;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
}

.header-container-secondary {
  padding: 10px;
}

.image-parent {
  display: flex;
}

.icon-image {
  width: 35px;
  height: 35px;
  background-color: var(--seconday-color);
  border-radius: 100px;
  margin-left: 10px;
  cursor: pointer;
}

.icon-image svg {
  margin-left: 10px;
  margin-top: 9px;
}

.music-category {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.music-category div {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
  margin-left: 10px;
  padding: 12px;
  border-radius: 100px;
  font-weight: bold;
  opacity: 0.8;
}

.music-category .active {
  width: auto;
  height: auto;
  background-color: white;
  color: black;
  margin-left: 10px;
  padding: 12px;
  border-radius: 100px;
  font-weight: bold;
}
